* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --main-color: #8bd3dd;
    --nav-color: #F1EFEF;
    --main-font: 'Montserrat', sans-serif;
    --backgrnd-color:#f8edd5;
}

#welcome {
    width: 350px;
    height: 150px;
    background-color: rgba(65, 52, 52, 0.168);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
}

#welcome h3 {
    color: black;
    font-family: var(--main-font);
    font-size: 14px;
    text-align: center;
}

#welcome form {
    margin-top: 10px;
    display: flex;
}

#welcome .form input {
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
}

#welcome .form input:focus {
    color: black;
}

form button {
    color: white;
    width: 55px;
    height: 25px;
    background-color: rgb(45, 161, 61);
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}
#content{
    filter: blur(0px);
    display: flex;
    flex-direction: column;
}

.menu-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8bd3dd;
    color: var(--nav-color);
    font-family: var(--main-font);
    z-index: 100;
}

.menu-nav h4 {
    margin-left: 100px;
    color: #fef6e4;
    font-size: 36px;
}

.menu-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.menu-nav ul li {
    margin-right: 20px;
    padding: 20px;
}

.menu-nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 5px;
    transition: 0.1s;
}

.menu-nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: blue;
    transition: width 0.3s;
}

.menu-nav ul li a:hover::after {
    width: 100%;
}
.navbar-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
}
.navbar-toggle .bar{
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
.line {
    width: 100%;
    height: 2px;
    background-color: rgba(65, 52, 52, 0.641);
}


#pengertian {
    padding-top: 100px;
    height: 90vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--backgrnd-color);
}

#pengertian article {
    width: 600px;
    color: #172c66;
    margin: 0 0 100px 0;
    text-align: justify;
    display: flex;
    flex-direction: column; 
}

#pengertian article h4 {
    font-family: 'Cabin', sans-serif;
    font-size: 27px;
    flex: 1;
    font-weight: 600;
    color: var(--main-color);
}

#pengertian article p {
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

#pengertian > img {
    width: 700px;
    height: 500px;
    z-index: 1;  
    margin-bottom: 100px;
}

#pengertian .pesan {
    width: 100%;
    display: flex;

    justify-content: left;
}

#pengertian .pesan p {
    margin-top: 50px;
    font-family: "isodara", sans-serif;
}

#pengertian .pesan img {
    height: 200px;
}


.line2 {
    margin-top: 5px;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}
.line3 {
    margin-top: 5px;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}
#hiddenContent{
    display: flex;
    flex-direction: column;
}
#gejala {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--backgrnd-color);
}

#gejala article {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#gejala article > h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 27px;
    font-weight: 600;
    color: var(--main-color);
}

#gejala article > h5 {
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.card-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card-gejala {
    display: flex;
    height: 200px;
    flex-direction: row-reverse;
    background-color: white;
    width: 600px;
    margin: 25px 25px 25px 25px;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-gejala .deskripsi {
    width: 65%;
    height: 100%;
    margin: 10px 10px 0 10px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

.card-gejala img {
    width: 35%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}
#konsultasi {
    background-color: var(--backgrnd-color);
    padding-top: 80px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}

.formKonsultasi {
    display: flex;
    width: 80vw;
    background-color: white;
    border-radius: 20px;
}

.formKonsultasi img {
    width: 300px;
    flex: 1;
    height: 400px; /* Mengatur lebar maksimum gambar agar tetap responsif */
}

.formKonsultasi .user-data {
    flex: 1;
    height: 100%;
    align-items: center;
}
.user-data{
    border-radius: 0 20px 20px 0;
    color: black;
    margin: 100px 10px 10px 10px;
}
.user-data p{
    font-size: 22px;
    position: relative;

    font-family: sans-serif;
}
.user-data form{
    margin-top: 10px;
}
.user-data form label{

    font-family: "Roboto", sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
}
.user-data form label input{
    border:none;
    border-bottom: 2px black solid;
    background:none;
    outline: none;
    transition: border 0.3ms;
}
.user-data form button{
    margin-top: 10px;
    background-color: #186693;
    font-family: sans-serif;
    font-size: 17px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
.user-data form label input:focus{
    border-bottom: 3px solid white;
    font-family: sans-serif;
}
.komentar{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.textarea-container {
    position: relative;
    display: flex;
}
.underline {

    width: 100%;
    border-bottom: 1px solid #000; /* Atur gaya garis bawah sesuai preferensi Anda */
    pointer-events: none; /* Mencegah garis bawah mengganggu interaksi pengguna dengan textarea */
}
textarea{
    border: 0.5px solid white;
    font-family: sans-serif;
    overflow: hidden;
    resize: none;
    width: 100%;
    height: 100px;
    outline: none;
    font-size: 20px;
}
textarea:focus{
    font-family: sans-serif;
}
footer{
    background-color:#58aeba ;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
}
footer .contactMe{
    position: absolute;
    right: 50px;
}
footer .contactMe i{
    margin: 0 25px 0 25px;
}
@media screen and (max-width: 800px) {
    textarea{
        width: 16em;
    }
    .menu-nav h4{
        font-size: 24px;
    }
    .menu-nav ul li a::after{
        display: none;
    }
    .menu-nav ul{
        
        flex-direction: column;
        position: absolute;
        background-color: rgba(139, 211, 221, 0.8);
        top: 70px;
        right: 0;
        width: 100px;
        padding: 20px;
        margin-right: 0;
        transform: translateY(-120%);
        transition: transform 0.3s ease-in-out;
        
    }
    .menu-nav ul li a{
        color: #fff;
    }
    .menu-nav ul.active{
        transform: translateY(0);
    }
    .navbar-toggle{
        display: flex;
        position: absolute;
        right: 0;
    }
    #pengertian{
        padding-top: 40px;
    }
    #pengertian article{
        width: 85%;
        margin: 0 10px 0 10px;
    }
    #pengertian article h4{
        font-size: 22px;
    }
    #pengertian > img{
        display: none;
    }
    #gejala article > h3{
        font-size: 20px
    }
    #gejala article > h5{
        font-size: 14px
    }
    .card-gejala{
        width: 80%;
        height: 400px;
        flex-direction: column-reverse;
    }
    .card-gejala .deskripsi{
        width: 92.5%;
        font-size: 14px;
        margin-right: 100px;
    }
    .card-gejala img{
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0 0;
    }
    .formKonsultasi{
        flex-direction: column;
    }
    .formKonsultasi img{
        width: 100%;
        object-fit: cover;
    }
    .user-data{
        width: 92.5%;
        margin-top: 0px;
    }
    .user-data p{
        font-size: 18px;
    }
    .user-data form label{
        font-size: 19px;
    }
    textarea{
        width: 100%;
        font-size: 17px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .contactMe{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 100px;
        margin-top: 20px;
    }
    footer .contactMe:nth-child(3){
        position: absolute;
    }
  }